@import "./mixins";
@import "./login.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

section{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $secondary;
}

p, a, span, b{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: $dark;
}

h1,h2,h3,h4{
  font-weight: 500;
  letter-spacing: 0.2px;
  color: $dark;
}

button{
  font-size: 14px;
  cursor: pointer;
  letter-spacing: 1px;
  background-color: $primary;
  border: none;
  outline: none;
  padding: 12px 20px;
}

input{
  font-size: 14px;
  padding: 12px 20px;
  outline: none;
  &:focus{
    border: 2px solid $primary;
  }
}